
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 19px;font-weight: 500;
}
/* Here is one of many  CSS rules you will need... */
#one {
	margin: 5px 5px 5px 5px;padding: 5px 5px 5px 5px;width: 25%;bottom: 0%;right: 0%;position: absolute;border-color: #0000ff;border-width: 5px;
	border-style: solid;
}
#two {
	margin: 5px 5px 5px 5px;padding: 5px 5px 5px 5px;width: 25%;position: absolute;top: 20px;right: 0%;border-color: #008100;border-width: 5px;
	border-style: solid;
}
#three {
	margin: 5px 5px 5px 5px;padding: 5px 5px 5px 5px;width: 25%;position: absolute;top: 20px;left: 0;border-color: #ffa600;border-width: 5px;
	border-style: solid;
}
#four {
	margin: 5px 5px 5px 5px;padding: 5px 5px 5px 5px;width: 25%;position: absolute;bottom: 0%;left: 0;border-color: #ffd900;border-width: 5px;
	border-style: solid;
}
#link{
	position: absolute;top: 0;left: 45%;margin: 10px 5px 10px 5px;padding: 10px 5px 10px 5px;background-color: #354eb1;
}
#link a{
	color: #fefefe;
	text-decoration: none;
}


